body {
    background: #0a0c23;
    background: url('starry-night.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img {
    transition: transform 0.5s ease;
}

/*rotate slightly on hover*/
img:hover{
    transform: rotate(-90deg);
}

img[src="full-moon.png"] {
    width: 150%;
    height: auto; 
}

/*responsive adjustments*/
@media (max-width: 768px) {
    .image-container img {
        width: 60px;
    }
}